.header{
    width: 80%;
    font-size: 22px;
}

body{
    color:whitesmoke;
    background-color: lime;
}

.name_of_objects{

    color:tomato;
}

#cam{
    width: 350px;
    height: 300px;
    border: 2px dashed rgb(92, 185, 185);
}

#result_object_Accuracy, #result_object_name{
    color: crimson;
}